<h1>hylo <3</h1>


<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me, class: 'remember_me' %> <%= f.label :remember_me %>
    <% end -%>

    <br/><small><%= link_to "Create an Account (confirmation needed)", new_user_registration_path, id: "need_account" %></small>

  <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>

<% end %>

<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% end %>